.artist-card-list {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 20px;
    justify-content: center;
}

.add-btn {
    font-family: "bello";
    color:"#346d67";
    background-color: "#346d67";
}