.card {
    background-color: white;
    border-radius: 5%;
    box-shadow: 8px 5px 5px black;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 300px;
    height: 190px;

}

.d-btn {
    background-color: #c96a7e;
    font-family: "Hi Melody", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: black;
    width: 30%;
    padding-top: 3px;
}

.d-btn:hover,
.v-btn:hover {
    background-color: #D5CFE1;
    color: black;
}

.v-btn {
    background-color: #346d67;
    font-family: "Hi Melody", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: #ECEEE8;
    width: 30%;
    padding-top: 3px;
}


.card-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.duration {
    color: #5B3131;
}

.title {
    font-family: "Henny Penny", system-ui;
    font-weight: 700;
    font-size: 1.1rem;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding-top: 20px;
    gap: 15px
    padding: 0;
}