.card {
    background-color: white;
    border-radius: 5%;
    box-shadow: 8px 5px 5px black;
    display: flex;
    flex-direction: column;
    row-gap: 15px;

}

.d-btn {
    background-color: #c96a7e;
    font-family: "Hi Melody", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: black;
    width: 30%;
    padding-top: 3px;
}

.v-btn {
    background-color: #346d67;
    font-family: "Hi Melody", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: white;
    width: 30%;
    padding-top: 3px;
}

.card-btn-container {
    display: ;
}
