.title {
    font-family: 'Henny Penny', "cursive";
    font-size: 45px;
    text-align: center;
    padding-bottom: 10px;
}

.description {
    color: #F6F8FF;
    font-size: 30px;
    font-family: "Hi Melody", sans-serif;
    font-weight: 400;
    padd
}