 #mantine-zv9bbah9h-label,
 #mantine-9q20m0abe-label,
 #mantine-tbrqqec4p-label,
 #mantine-78olcgy2n-label {
     color: white;
     font-family: "Bellota", system-ui;
     font-weight: 700;
     font-size: 1.25rem;
     font-style: normal;
 }

 #mantine-zv9bbah9h-description,
 #mantine-9q20m0abe-description {
     font-family: "Bellota", system-ui;
     font-weight: 700;
     font-size: 1rem;
     font-style: normal;
     color: #b24c66;
 }